<section class="py-5">
  <div class="container">

    <div class="text-center mb-5">
      <span class="text-uppercase text-muted small fw-semibold">
        Explore Our Collection
      </span>

      <h2 class="fw-bold mt-2 mb-2">
        Shop by Category
      </h2>

      <p class="text-muted">
        Discover your favorite styles
      </p>
    </div>


    
    <div class="row g-4">

  
      @for (cat of allcategory; track $index) {
        <div class="col-6 col-lg-3" 
        [routerLink]="['/ShopBY',cat._id]"
        >
        <div class="category-card">

          <img
            [src]="cat.image"
            alt="Men"
          >

          <div class="category-overlay"></div>

          <div class="category-info">
            <h3>{{cat.name}}</h3>

            <span>
              Shop Now
              <i class="bi bi-arrow-right"></i>
            </span>
          </div>

        </div>
      </div>
      }


     
   
    </div>

  </div>
</section>