<section class="py-5">
  <div class="container">

    <div class="text-center mb-5">
     
  <div class="text-center mb-4 ">
    <h2 class="fw-bold mb-2 fs-3 fs-md-2">{{'Category.shop' | translate}}</h2>
    <div class="mx-auto" style="width: 60px; height: 3px; background: #28a745; border-radius: 2px;"></div>
  </div>

    

      <p class="text-muted">
       {{'Category.Discover' | translate}}
      </p>
    </div>


    
    <div class="row g-4">

     @if (allcategory) {
        <div class="col-6 col-lg-4" 
        [routerLink]="['/ShopBY',allcategory[1]?._id]"
        >
        <div class="category-card">

          <img
            [src]="allcategory[1]?.image"
            alt="Men"
          >

          <div class="category-overlay"></div>

          <div class="category-info">
            <h3>{{allcategory[1]?.name}}</h3>

            <span>
              Shop Now
              <i class="bi bi-arrow-right"></i>
            </span>
          </div>

        </div>
      </div>
        <div class="col-6 col-lg-4" 
        [routerLink]="['/ShopBY',allcategory[2]?._id]"
        >
        <div class="category-card">

          <img
            [src]="allcategory[2]?.image"
            alt="Men"
          >

          <div class="category-overlay"></div>

          <div class="category-info">
            <h3>{{allcategory[2]?.name}}</h3>

            <span>
              Shop Now
              <i class="bi bi-arrow-right"></i>
            </span>
          </div>

        </div>
      </div>


        <div class="col-6 col-lg-4" 
        [routerLink]="['/ShopBY',allcategory[9]?._id]"
        >
        <div class="category-card">

          <img
            [src]="allcategory[9]?.image"
            alt="Men"
          >

          <div class="category-overlay"></div>

          <div class="category-info">
            <h3>{{allcategory[9]?.name}}</h3>

            <span>
              Shop Now
              <i class="bi bi-arrow-right"></i>
            </span>
          </div>

        </div>
      </div>

      
     }
    
      
      


     
   
    </div>

  </div>
</section>