
.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

.product-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1) !important;
}

.img-hover {
  transition: transform 0.5s ease;
  cursor: pointer;
  object-fit: cover;
  height: 250px; 
}

.product-card:hover .img-hover {
  transform: scale(1.1); 
}

.btn-gradient {
  background: linear-gradient(45deg, #28a745, #20c997);
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(45deg, #218838, #198754);
  box-shadow: 0 4px 15px rgba(40, 167, 69, 0.3);
  color: white;
}


.input-group-text {
  border-radius: 50px 0 0 50px !important;
  color: #28a745;
}

.form-control {
  border-radius: 0 50px 50px 0 !important;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

/* ________________________________________________ */
.category-badge {
  background-color: #f8f9fa;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  color: #6c757d;
  display: inline-block;
}


.hero-section {
  min-height: 430px;
  display: flex;
  align-items: center;
  overflow: hidden;
  
  margin: 25px 0 40px;
  background: #f5f5f5;
}

.hero-content {
  width: 50%;
  padding: 50px;
}

.hero-badge {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #198754;
}

.hero-content h1 {
  font-size: clamp(40px, 5vw, 65px);
  font-weight: 800;
  line-height: 1;
  margin: 15px 0;
}

.hero-content h1 span {
  color: #198754;
}

.hero-content p {
  color: #666;
  font-size: 17px;
  max-width: 450px;
  margin-bottom: 25px;
}

.hero-image {
  width: 50%;
  height: 430px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {

  .hero-section {
    min-height: auto;
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    width: 100%;
    padding: 35px 20px 20px;
  }

  .hero-content p {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-image {
    width: 100%;
    height: 260px;
  }
}