
.forget-container {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forget-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 40px;
  width: 100%;
  max-width: 450px;
}


.instruction-text {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 25px;
}


.btn-submit {
  background: #198754;
  border: none;
  color: white;
  border-radius: 12px;
  padding: 12px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-submit:hover:not(:disabled) {
  background: #146c43;
}